!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			= Haml::Engine.new(File.read("dev/haml/partials/_sec_reserve.haml")).render
			= Haml::Engine.new(File.read("dev/haml/partials/_sec_foodwine.haml")).render

			%section

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render